<h1>Team Standings</h1>

<%= link_to 'Back', teams_path %>

<table border="1" style="border-collapse:collapse">
	<tr>
		<td>#</td><td>Name</td><td>Max</td><td width="25px">1</td><td width="25px">2</td><td width="25px">3</td><td width="25px">4</td><td width="25px">5</td></tr>
<% @teams.each do |team| -%>
	<tr><%= "<td>#{team.fll_number}</td><td>#{team.team_name}</td>" %>
		<%= "<td>#{team.matches.maximum(:score)}</td>" %>
	<% team.matches.each do |match| %>
	<%= "<td>#{match.score}</td>" %>
	<% end %></tr>
<% end -%>
</table>