<h1>Team Standings</h1>

<%= link_to 'Back', teams_path %>

<table border="1" style="border-collapse:collapse">
	<tr>
		<td>#</td><td>Name</td><td>P/T</td><th>Avg</th><td width="25px">1</td><td width="25px">2</td><td width="25px">3</td><td width="25px">4</td><td width="25px">5</td></tr>
<% @teams.each do |team| -%>
	<tr><%= "<td>#{team.fll_number}</td><td>#{team.team_name}</td><td>#{team.project_score}/#{team.technical_score}</td>" %>
		<%= "<td><b>#{team.average_score}</b></td>" %>
	<% team.matches.each do |match| %>
	<%= "<td>#{match.score}</td>" %>
	<% end %>
	<% if team.matches.length < 5
		(team.matches.length+1..5).each do |i| %>
		<td>&nbsp;</td>
		<% end 
	   end -%>
	</tr>
<% end -%>
</table>