body
{
}

.teamTitle
{
	font: 120% "Lucida Grande",Arial , "Trebuchet MS", Verdana, sans-serif;
}
.vertical
{
    -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
	width: 20px;
	/*vertical-align:middle;*/
	font-weight: bold;
	
}
.category
	{
    font: 9pt Arial, sans-serif;
    font-weight: bold;
    }
#teamtable
{
	border-collapse:collapse;
}
#teamtable td
{
	padding:3px;
	border: none;
}

td
{
    font: 9pt Arial, sans-serif;
     border: thin solid #000000;

}
.matchlist
{
	border-collapse:collapse;
}
.matchlist td
{
	border: none;
}
.grid
{
    border-collapse: collapse;
    width: 960px;
    border: thin solid #000000;
	margin-bottom:40px;
}
tr.alt
{
    background: #C0C0C0;
     border: thin solid #000000;
}
td.alt
{
    background: #C0C0C0;
     border: thin solid #000000;
}

@media screen
{
.page-break  { display:block; }
}

@media all
{
  .page-break  { display:block; page-break-after:always;}
} 