body { background-color: #fff;  }

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   12px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

th {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   9px;
  line-height: 13px;
  background-color: #c0c0f0;
}

td {
 margin:0px;
 padding:2px;
 vertical-align:top;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

tr.odd
{ 
  background-color: #f0f0a0; 
}

tr.even
{
 background-color: #a0f0a0;
}

/* Match Results details */
#page {width: 960px;  border: 0px solid black; font-family: arial;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	background: #6CF;
	padding: 1em;
	margin: auto auto;
	}
#top {width: 960px; height:150px;}

#title {border: 1px solid; background-color: #ccc;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		width: 330px;
		height: 60px;
		font-size: 22pt;
		margin: auto auto;
		text-align: center;
		margin-top: 1em;
		padding-top: 22px;
		/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#009));*/
		}
		
.table {
		/*border: 1px solid;*/
		width: 458px;
		margin: 1em 10px 1em 10px;
		float: left;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-size: 20pt;
		background: #FF0;
		-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		color: white;
		}
		
.table3 {
		background: blue;
		}
.table4 {
		background: yellow;
		color: #eee;
		}
.table1 {
		background: green;
		}
.table2 {
		background: #B22222;
		}
						
.tabletitle {
		margin: auto auto;
		text-align: center;
		/*font-weight: bold;*/
		text-shadow: #222 2px 2px 5px;
		}
.results {
		margin: 10px 10px;
		text-align: center;
		text-shadow: #222 2px 2px 5px;
		}
.teamresults {
		font: 20pt arial, sans-serif;
		}
.score {
		font-size: 24pt;
		}
.teamname {
	font-size: 14pt;
	font-style: italic;
	}
#bottom {
		margin:auto auto;
		margin-top: 1em;
		width: 275px;
		clear: both;
		-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		}
table#scoring {font: 75% "arial", Verdana, sans-serif;}
	.heading {font-weight: bold;}
table#finalresults {font: 10px arial sans-serif;}