<%= form_for [@team, @robotscore] do |f| %>
  <%= errors_for(@robotscore) %>
<p>Judge: <%= f.text_field :judge_name %></p>

<table class="grid">
    <tr style="border: none;">
        <td style="border: none;">
            &nbsp;
        </td>
        <td>
            <b><i>Beginning</i></b>
        </td>
        <td>
            <i><b>Developing</b></i>
        </td>
        <td>
            <i><b>Accomplished</b></i>
        </td>
        <td>
            <i><b>Exemplary</b></i>
        </td>
    </tr>
    <tr>
        <td rowspan="7">
            <div class="vertical">
              <span>Mechanical&nbsp;Design</span> 
              </div>
        </td>
        <td class="alt">
            <b>Durbility</b>
        </td>
        <td class="alt" colspan="3">
            <i>Evidence of structural integrity; ability to withstand rigors of competition</i>
        </td>
    </tr>
    <tr>
        <td>
            quite fragile, breaks a lot
        </td>
        <td>
            frequent or significat faults/repairs
        </td>
        <td>
            rare faults/repairs
        </td>
        <td>
            sound construction; no repairs
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Mechanical Efficiency</b>
        </td>
        <td colspan="3">
            <i>Economic use of parts and time; easy to repair and modify</i>
        </td>
    </tr>
    <tr>
        <td>
            excessive parts or time to repair/modify
        </td>
        <td>
            inefficient parts or time to repair/modify
        </td>
        <td>
            appropriate use of parts and time to repair/modify
        </td>
        <td>
            streamlined use of parts and time to repair/modify
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Mechanization</b>
        </td>
        <td colspan="3">
            <i>Ability of robot mechanisms to move or act with appropriate speed, strenght and accuracy
                for inteneded tasks (propulsion and execution)</i>
        </td>
    </tr>
    <tr>
        <td>
            imbalance of speed, strenght and accuracy on most tasks
        </td>
        <td>
            imbalance of speed, strength and accuracy on some tasks
        </td>
        <td>
            appropriate balance of speed, strength and accuracy on most tasks
        </td>
        <td>
            appropriate balance of speed, strength and accuracy on every task
        </td>
    </tr>
    <tr valign="top">
        <td colspan="4" valign="top">
            Comments:<textarea name="Name" rows="8" cols="100"></textarea>
        </td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="7">
            <div class="vertical">Programming</div>
        </td>
        <td class="alt">
            <b>Programming Quality</b>
        </td>
        <td class="alt" colspan="3">
            <i>Programming is appropriate for the intended purpose and achieves consistent results</i>
        </td>
    </tr>
    <tr>
        <td>
            does not achieve purpose AND is inconsisten
        </td>
        <td>
            does not achieve purpose OR is inconsistent
        </td>
        <td>
            achieves purpose repeatedly
        </td>
        <td>
            achieve purpose every time
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Programming Efficiency</b>
        </td>
        <td colspan="3">
            <i>Program is modular, streamlined, and understandable</i>
        </td>
    </tr>
    <tr>
        <td>
            excessive code and difficult to understand
        </td>
        <td>
            inefficient code and challenge to understand
        </td>
        <td>
            appropriate code and easy to understand
        </td>
        <td>
            stremlined code and easy for anyone to understand
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Automation/Navigation</b>
        </td>
        <td colspan="3">
            <i>Ability of the robot to move or act as intended using mechanical and/or sensor feedback(with
                minimal reliance on driver intervention and/or program timing)</i>
        </td>
    </tr>
    <tr>
        <td>
            frequent driver intervention to aim AND retrieve robot
        </td>
        <td>
            frequent driver intervention to aim OR retrieve robot
        </td>
        <td>
            robot moves/acts as intended repeatedly w/occasional driver intervention
        </td>
        <td>
            robot moves/acts as intended every time with no driver intervention
        </td>
    </tr>
    <tr valign="top">
        <td colspan="4">
            Comments:<textarea name="Name" rows="8" cols="100"></textarea>
        </td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="7">
            <div class="vertical">Innovation&nbsp;&amp;&nbsp;Strategy  </div>
        </td>
        <td class="alt">
            <b>Design Process</b>
        </td>
        <td class="alt" colspan="3">
            <i>Ablity to develop and explain improvement cycles where alternatives are considered
                and narrowed, selections tested, designs imporved</i>
        </td>
    </tr>
    <tr>
        <td>
            disorganized AND poorly explained improvement cycles
        </td>
        <td>
            disorganized OR poorly explained improvement cycles
        </td>
        <td>
            systematic and well-explained improvement cycles
        </td>
        <td>
            systematic, well-explained and well-documented improvement cycles
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Missions Strategy</b>
        </td>
        <td colspan="3">
            <i>Creation of new, unique, or unexpected feature(s) (e.g designs, programming, strategies
                or applications) that are beneficial in performing the specified tasks</i>
        </td>
    </tr>
    <tr>
        <td>
            no clear goals AND no clear strategy
        </td>
        <td>
            no clear goals OR no clear strategy
        </td>
        <td>
            clear strategy to accomplish the team's well defined goals
        </td>
        <td>
            clear strategy to accomplish most/all game missions
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Innovation</b>
        </td>
        <td colspan="3">
            <i>Creation of new, unique, or unexpected feature(s)(e.g designs, programming, strategies
                or applications) that are beneficial in performing the specified task</i>
        </td>
    </tr>
    <tr>
        <td>
            existing feature(s)
        </td>
        <td>
            featrue(s) contrins some original element(s)
        </td>
        <td>
            original feature(s)
        </td>
        <td>
            original feature(s) with the potential to add significant value
        </td>
    </tr>
    <tr valign="top">
        <td colspan="4">
            Comments:<textarea name="Name" rows="8" cols="100"></textarea>
        </td>
    </tr>
</table>

  <p><%= f.submit "Submit" %></p>
<% end %>