<div class="btn-group" data-toggle="buttons">
<% choices.labels.each_index do |idx| %>
	<label class="btn btn-default"><%= choices.labels[idx].to_s -%>
		<%= match_fields.radio_button(choices.label, idx, {"data-tag" => choices.label.to_s}) %>
	</label>

<% end %>
</div>