<%= form_for [@team, @projectscore] do |f| %>
  <%= errors_for(@projectscore) %>
	
	<table class="grid">
	        <tr style="border: none;">
	            <td style="border: none;">
	                &nbsp;
	            </td>
	            <td>
	                <b><i>Beginning</i></b>
	            </td>
	            <td>
	                <i><b>Developing</b></i>
	            </td>
	            <td>
	                <i><b>Accomplished</b></i>
	            </td>
	            <td>
	                <i><b>Exemplary</b></i>
	            </td>
	        </tr>
	        <tr>
	            <td rowspan="9">
	                <div class="vertical">
	                  <span>Research</span> 
	                  </div>
	            </td>
	            <td class="alt">
	                <b>Problem Identification</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Clear definition of the problem being studied</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                unclear; few details
	            </td>
	            <td>
	              somewhat clear; details missing
	            </td>
	            <td>
	               clear; detailed
	            </td>
	            <td>
	               very clear; very detailed
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Sources of Information</b>
	            </td>
	            <td colspan="3">
	                <i>Types/Sources of information cited (e.g. books, magazines, websites, reports and other resources), including professionals in the field</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               one type of information cited; minimal sources
	            </td>
	            <td>
	               two types of information cited; several sources
	            </td>
	            <td>
	                three types of information cited; many sources, including professionals
	            </td>
	            <td>
	                four(+)types of information cited; extensive sources, incl. professionals
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Provlem Analysis</b>
	            </td>
	            <td colspan="3">
	                <i>Depth to which the problem was studied and analyzed by the team</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                minimal study; no team analysis
	            </td>
	            <td>
	               minimal study; some team analysis 
	            </td>
	            <td>
	                sufficient study and analysis by team
	             </td>
	            <td>
	                extensive study and analysis by team
	            </td>
	        </tr>
	           <tr class="alt">
	            <td>
	                <b>Review Existing Solutions</b>
	            </td>
	            <td colspan="3">
	                <i>Extent to which other theories and solultions were analyzed by the team</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	              minimal review; no team analysis
	            </td>
	            <td>
	               minimal study; some team analysis 
	            </td>
	            <td>
	                sufficient study and analysis by team
	             </td>
	            <td>
	                extensive study and analysis by team
	            </td>
	        </tr>
	        <tr valign="top">
	            <td colspan="4" valign="top">
	                Comments:<textarea name="Name" rows="8" cols="100"></textarea>
	            </td>
	        </tr>
	    </table>
	    <table class="grid">
	        <tr>
	            <td rowspan="7">
	                <div class="vertical">Innovative&nbsp;Solution</div>
	            </td>
	            <td class="alt">
	                <b>Team Solution</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Clear explanation of the proposed solution</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               difficult to understand
	            </td>
	            <td>
	                some parts confusing
	            </td>
	            <td>
	               understandable
	            </td>
	            <td>
	              easy to understand by all
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Innovation</b>
	            </td>
	            <td colspan="3">
	                <i>Degree to which the team's solution makes life better by improving existing options, developing a new application of existing ideas or solving the problem in a completely new way</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                existing solutions/application
	            </td>
	            <td>
	               solutions/application contains some original elements(s)
	            </td>
	            <td>
	               original solution/application
	            </td>
	            <td>
	                original solution/application with the potential to add significant value
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>implementation</b>
	            </td>
	            <td colspan="3">
	                <i>consideration of factors for implementation (cost, ease of manufacturing, ect.)</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               minimal factors considered
	            </td>
	            <td>
	                some factors considered
	            </td>
	            <td>
	                factors well considered; some question about proposed solutions
	            </td>
	            <td>
	               factors well considered and feasible solution proposed
	            </td>
	        </tr>
	        <tr valign="top">
	            <td colspan="4">
	                Comments:<textarea name="Name" rows="8" cols="100"></textarea>
	            </td>
	        </tr>
	    </table>
	    <table class="grid">
	        <tr>
	            <td rowspan="7">
	                <div class="vertical">
	                Presentation</div>
	            </td>
	            <td class="alt">
	                <b>Presentation Effectiveness</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Message delivery and organization of the presentation</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                unclear or disorganized
	            </td>
	            <td>
	              somewhat clear; minimal organization
	            </td>
	            <td>
	                mostly clear; mostly organized
	            </td>
	            <td>
	                very clear and well organized
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Creativity</b>
	            </td>
	            <td colspan="3">
	                <i>Imagination used to develop and deliver the presentation</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               minimally engaging; familiar presentation style
	            </td>
	            <td>
	                somewhat engaging; familiar presentation style
	            </td>
	            <td>
	                engaging; familiar presentation style
	            </td>
	            <td>
	             engaging and new presentation style
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Sharing</b>
	            </td>
	            <td colspan="3">
	                <i></i>
	            </td>
	        </tr>
	        <tr>
	            <td>general, non-targeted audience(s)

	            </td>
	            <td>single targeted audience that can benefit

	            </td>
	            <td>
	               multiple targeted audience that can benefit from solution
	            </td>
	            <td>
	                mult. targeted audiences that can benefit from solution, utilizing diverse sharing methods
	            </td>
	        </tr>
	        <tr valign="top">
	            <td colspan="4">
	                Comments:<textarea name="Name" rows="8" cols="100"></textarea>
	            </td>
	        </tr>
	    </table>
  <p><%= f.submit "Submit" %></p>
<% end %>
